@import "sass/libs/_normalize";
@import "sass/libs/foundation";

$placeholder-color: #BBB;
input::-moz-placeholder{ color:$placeholder-color; }
input::-webkit-input-placeholder{ color:$placeholder-color; }
input:-ms-input-placeholder{ color:$placeholder-color; }
