.global {
  color: green; }

body {
  background-color: #000;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.test {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
