//@import "~foundation-sites";
@import "sass/global/global";
@import "sass/libs/ob/step";

body {
    @include foundation-everything(true, true);
}

header {
    .title-bar {
        background-color: #2c3840;
    }

    .bugs-log {
        font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #fefefe;
        opacity: 0.75;
        transition: all 0.25s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 1;
            color: #fefefe;
        }
    }
}

.m-step {
    @include clearfix;
    margin: 0;

    .time-start {
        font-weight: bold;
    }

    .time-desc {
        color: #888888;
        font-size: 12px;
    }
}

.content-wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

    .version-text {
        font-weight: bold;
        margin-bottom: 40px;
    }

    .version-bugs {
        margin-top: 35px;

        table {
            table-layout: fixed;

            .bugs {
                display: inline-block;
                width: 30px;
                margin-right: 5px;
                font-size: 14px;
                font-weight: bold;
            }

            .req-update {
                font-weight: bold;
            }

            .fi-star {
                color: #30bc0d;
                font-size: 18px;
            }

            .fi-skull {
                color: red;
                font-size: 24px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

.no-result {
    margin-top: 100px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.label {
    border-radius: 3px!important;
}

hr {
    max-width: 1366px!important;
    margin: 40px auto!important;
}
